.containerEducation {
  color: rgba(93, 22, 22, 0.726);
  display: flex;
  /* min-height: 100%; */
  flex-wrap: wrap;
  margin: 45px;
}
.education {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
  padding: 10px;
  min-width: 280px;

  border: solid 2px rgb(255, 0, 98);
  /* border-radius: 25px; */
  /* text-align: left; */

  transition: transform 0.5s ease-in-out;
}
.education:hover {
  transform: scale(1.05);
}

.school {
  color: rgba(93, 22, 22, 0.358);
}

@media (max-width: 600px){
  .containerEducation{
    margin: 10px;
  }
  .education{
    background-color: rgba(209, 22, 153, 0.089);
    border:solid rgb(113, 4, 164) 1px;
  }
}