.allProjects {
  display: flex;
  flex-wrap: wrap;
  margin: 45px;
  margin-bottom: 200px;
}

.project {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
  padding: 10px;
  min-width: 200px;

  border: solid red;
}

@media (max-width: 600px) {
  .allProjects {
    margin: 10px;
    margin-bottom: 100px;
  }
}